<% current_users_message = message.user == current_user  %>


<div class="card mb-2 row col-lg-7 col-sm-8 message <%= current_users_message ? "current-user-message" : "other-user-message" %>"> 
    <div class="ml-1">
        <strong class="message-title"><%= !current_users_message ? message.user.email+" Says: ": "You:" %></strong>
    </div>
    <div class="ml-3 message-text" >
        <%= message.message %>
    </div>

</div>          