<% current_users_message = message.user == current_user  %>

<div class="card mb-2 row col-sm-8 message <%= current_users_message ? "current_user_message" : "other_user_message" %>"> 
    
    <div class="ml-1">
            <strong class="message_title"><%= !current_users_message ? message.user.email+" Says: ": "You:" %></strong>
    </div>
    <div class="ml-3 message_text" >
        <%= message.message %>
    </div>

</div>          