<div class="card mb-2 row col-lg-7 col-sm-8 message current-user-message">
    <div>
        <strong class="message-title">You</strong>
    </div>
    <div class="message-text">
        <%= message.message %>
    </div>
</div>