<div class="card mb-2 row col-lg-7 col-sm-8 message other-user-message">
    <div>
        <strong class="message-title"><%= message.user.name %></strong>
    </div>
    <div class="message-text">
        <%= message.message %>
    </div>
</div>