body {
  background: #ece5dd;
  margin: 0 !important;
  color: #707070;
  font-family: "Open Sans";
  font-size: 16px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-banner {
  width: 90%;
  margin-top: 30%;
  max-width: 600px;
  margin: auto auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  margin-top: 80px;
  border-radius: 25px;
  vertical-align: middle;
  .button {
    background: teal;
    color: white;
  }
}

.alert {
  text-align: center;
  color: #dc1e1e;
}

.align-center {
  text-align: center;
}

.field_with_errors {
  display: inline;
}

#error_explanation {
  color: #ff0000ed;
}
