// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: rgb(250, 250, 250);
  background-attachment: fixed;
  margin: 0 !important;
  color: #707070;
  font-family: "Open Sans";
  font-size: 16px;
}
.auth-banner {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  margin-top: 80px;
}

.alert {
  text-align: center;
  color: #dc1e1e;
}

.align-center {
  text-align: center;
}

.field_with_errors {
  display: inline;
}

#error_explanation {
  color: #ff0000ed;
}

@media all and (max-width: 767px) {
  .auth-banner {
    font-size: 24px;
  }
}
